<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>

<body>
    <p>sanket</p>

    <div>
        <% products.forEach((element)=>{%>
        <img src=<%= element.image %> alt="">
        <p>Price: <%= element.price %></p>
        <p> category: <%=element.category %> </p>
        <% })  %>
    </div>

</body>

</html>