*{
    margin: 0;
    padding: 0;
    text-align: center;
}
header h1{
    font-family: 'Bitter', serif;
    font-size: 6rem;
    color: darkmagenta;
    background-image: radial-gradient(gold,white,lightblue);

}

div{
    
    
    background-image: radial-gradient(yellow,white,lightblue);
    position: relative;

}
img{
    padding:15px;
    border-radius: 55px 50px;
}
