* {
    margin: 0;
    padding: 0;
    font-family: monospace;

}

header {
    position: fixed;
    background-color: floralwhite;
    width: 100%;
  


}

.topc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    position: fixed;
    background-color: aliceblue;
    top: 0px;
    width: 100%;
}

nav {
   
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

a {
    margin: 0 20px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-left: 15px;
}

.button {
    font-size: 21px;
    width: 146px;
    padding: 15px;
    background-color: #13A2C6;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 15px;
    border-radius: 5px;

}

.button a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}

nav a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

table{
margin: 10px 50px;
}
.second-row td{
    padding:0 10px ;
    
   
}

.second-sec{
    display: block;
    margin-top: 150px;
}

p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    margin: 20px 0;
}

.first-row {
   font-size: 3rem;
   padding:0 10px ;
   margin-top: 40px;
   color: #13A2C6;

}

#line{
    border-top: 2px solid #13A2C6;
   width: 57%;
   padding-bottom: 15px;
}

.third-container{
    margin:0 60px;
}

#second-heading{
    font-size: 3rem;
   margin: 25px 0;
   color: #13A2C6;


}

h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.third-heading{ font-size: 3rem;
    margin: 25px 0;
    color: #13A2C6;

}

.last-heading{ font-size: 3rem;
    margin: 25px 0;
    color: #13A2C6;

}

.forth-container{
    margin:0 60px;
    
}

.fifth-container{
    margin:0 60px;
    
}
.sixth-container{
    margin-top: 50px;
    background-color: #12A1C5;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: white;
    padding:8px;
    
}
.seventh-container{
    background-color: #2f3f54;
    height: 500px;
    width: 100%;
    
}

footer{
    background-color:#6181ac;
    height: 50px;
    width: 100%;
}

.sixth-container a{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    background-color: #2f3f54;
    padding-top: 2px;

    
}

.last-container{

color: #12A1C5;
margin: 0 auto;
position: relative;

}


td{
    font-size: 1.1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 5px;

}

#quick-links{
    font-size: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: white;
    
}

.col-one td {
    border-bottom: 0.5px solid white;
}

iframe{
    border: none;
    width: 85%;
}
.white-headings td{
color: white;
}

.first-para p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    margin: 20px 0;
}

