img{
    height: 150px;
    width:150px;
    position: absolute;
    left: 50%;
    border:24px;
    transform:translatex(-50%);
    animation: fly 5s ease-in;
    animation-iteration-count: infinite;
}

@keyframes fly{
    0%{
        transform:translate(50vh,-50%);
       
    }
    100%{
        transform:translate(-50%,100vh);
       
    }
}