.container-1, .container-2 ,.container-3 {

    display: flex;
    flex-direction: row;
}

.div {
    background-color: chocolate;
    flex-grow: 2;
    height: 180px;
    margin: 2px;
    border-radius: 5px;
    padding: 5px;
    color: white;
}
.container-2 div{
    height: 30px;
}
.container-3 div{
    height:30px ;
}

.c1,.c2,.c3{
    display: flex;
    flex-direction: row;
}
.c1{
    margin-top: 15px;
}
.divc{
    height: 40px;
    margin: 2px;
    border-radius: 5px;
    padding: 2px;
    color:chocolate;
    background-color: wheat;
    flex-grow: 2;
}